<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" data-th-action="@{/review}" method="post">
        <table>
            <tr>
                <td>
                    Name: 
                </td>
                <td>
                    <input type="text" data-th-field="${review.user}" required>
                </td>
            </tr>
            <tr>
                <td>
                    Rating: 
                </td>
                <td>
                    <input type="number" max="10" min="0" data-th-field="${review.rating}" required>
                </td>
            </tr>
            <tr>
                <td>
                    Comment: 
                </td>
                <td>
                    <input type="text" data-th-field="${review.comment}">
                </td>
            </tr>
            <tr>
                <td>
                    Game ID: 
                </td>
                <td>
                    <input type="text" data-th-value="${gameId}" name="gameId" id="gameId" readonly>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>

            

        </table>
    </form>
</body>
</html>